@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import '../styles/responsive.scss';
@import '../javascripts/components/myNavbar/myNavbar.scss';

*{
  margin: 0;
  padding: 0;
 }
 
html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url('../../assets/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.footerDiv{
background-color: #23007d;
padding: 5px;
text-align: center;
text-transform: uppercase;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 1px;
min-width: 100%;
position: absolute;
bottom: 0px;
z-index: 1;
margin-top: 20px;
}

.hide {
  display: none;
}

a:hover{
  cursor: pointer;
}

