input[type=text] {
  background-color: white;
  color:  #3CBC8D;;
}

#addmovie{
  background-color: rgba(255, 255, 255, 0.092);
  max-width: 500px;
  margin: 0 auto;
  padding:10px;
  border-radius: 5px;
}

.movie-btn, .cancel-btn, #add-movie-btn, .rate-btn{
  background-color: #3CBC8D;
  border-radius: 0px;
}

.watch-btn {
  background-color: #9636f0;
  border-radius: 0px;
  border: none;
}

